@font-face {
  font-family: 'Nexa';
  src: url('../fonts/nexa/Nexa-Bold.woff2') format('woff2'),
      url('../fonts/nexa/Nexa-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/nexa/Nexa-Regular.woff2') format('woff2'),
      url('../fonts/nexa/Nexa-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/nexa/Nexa-Heavy.woff2') format('woff2'),
      url('../fonts/nexa/Nexa-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/nexa/Nexa-ExtraBold.woff2') format('woff2'),
      url('../fonts/nexa/Nexa-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}